html {
	height: 100%;
}

body {
	background-image: url("../images/cat.jpg");
	background-size: cover;
	background-position: center;
}

#content {
	color: white;
	text-align: center;
}

h1 {
	color: white;
}